.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-x: auto;
}
.passContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.pass {
  width: 22rem;
  border-radius: 1rem;
  background-color: var(--pass);
  color: var(--text);
  box-shadow: 0 0 5px #0000001a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  padding: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0 0 1rem 1rem;
}

.qr {
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.qr h1 {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
  position: relative;
  animation: marquee 5s linear infinite;
  margin: 0.5rem 0;
}

.sign {
  font-size: 1rem;
  font-weight: 100;
}
.teacherName {
  font-size: 1.8rem;
  font-weight: 700;
}
.name {
  font-size: 2.5rem;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.description {
  margin: 0.5em 0;
}

.status {
  font-size: 0.8rem;
  font-weight: 500;
}

.PENDING {
  color: yellow;
}

.REJECTED {
  color: #ff5555;
}

.APPROVED {
  color: lime;
}

.EXPIRED {
  color: #ff5555;
}
.qrEx {
  filter: brightness(0.3);
}
