@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root {
  --pass: #fff;
  --text: #000;
  --background: #fafafa;
  --invert: invert(0);
  --button: #000;
  --button-text: #fff;
}
:root[data-theme="green"] {
  --pass: #0a271b;
  --text: #fff;
  --background: #05130d;
  --invert: invert(1);
  --button: #000;
  --button-text: #fff;
}
:root[data-theme="blue"] {
  --pass: #1e174f;
  --text: #fff;
  --background: #0b0a20;
  --invert: invert(1);
  --button: #000;
  --button-text: #ffffff;
}

.logo {
  position: absolute;
  margin: 1rem;
  padding: 1rem;
  filter: var(--invert);
}
